@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    color: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation: showRight 1s ease forwards;
    animation-delay: 4s;
}


.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none; 
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    position: relative;
}

/* efek hover */
.navbar a:hover {
    color: #f3e8ff;
    background: transparent; /* hilangkan kotak abu */
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #00abf0;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
    padding: 0 10%;
    background-color: #2E1A47;
}

.home-content{
    max-width: 600px;
    flex: 1; 
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-content h1::before {
    background: transparent;
}


.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0 ;
     margin-top: 0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 15px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f3e8ff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px ;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f3e8ff;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-family: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #00abf0;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}

.home-sci a::before {
    display: none;
}

.home-img {
    flex-shrink: 0; 
    margin-left: 200px; 
}

.home-img::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f3e8ff;
    animation: showRight 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.home-img img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #8f7ac5;
    box-shadow: 0 0 25px #6968b7;
}

/* KEYFRAMES ANIMATION  */
@keyframes showRight {
    100%{
        width: 0;
    }
}


.halaman {
    padding: 100px 10%;
    min-height: 100vh;
    background: #2E1A47;
}


.section-content h2 {
    font-size: 40px;
    color: #00abf0;
    margin-bottom: 20px;
}


.section-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}


.service-box,
.portfolio-box {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}


.card {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background: #f3e8ff;
    border-radius: 10px;
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #00abf0;
}
html {
    scroll-behavior: smooth;
}